body {
	background-color: #070707;
	color: white;
}

.logo {
	height: 100px;
	width: auto;
}

.nav-link, .nav-link:active, .nav-link:visited {
	background-color: #22252a;
	color: #e9ecef;
}
.nav-link:hover {
	background-color: #32383e;
	color: #e9ecef;
}

.nav-link.active {
	background-color: #32383e;
	color: #e9ecef;
}

footer {
	text-align: center;
}
footer a, footer a:visited, footer a:hover, footer a:active {
	color: white;
	display: inline-block;
}
footer a svg {
	height: 20px;
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

